
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

nav {
  background-color: #343a40;
  color: #ffffff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 15px;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ffc107;
}

.logo {
  font-size: 1.5rem;
  color: #ffc107;
}

.new-card-form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #dee2e6;
  border-radius: 5px;
}

button {
  padding: 10px 15px;
  background-color: #ffc107;
  border: none;
  border-radius: 50px;
  color: #343a40;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ffca2c;
}
